%h1 Take a moment to write down your idea
%hr

= form_for(@idea) do |f|
  = error_messages! :idea

  %h3 Area in which the idea will take effect

  .field
    = f.label :innovation, "Innovation"
    = f.check_box :innovation
    = f.label :performance, "Performance"
    = f.check_box :performance
    = f.label :culture, "Culture"
    = f.check_box :culture

  .field
    = f.label :title, "Idea's title"
    = f.text_field :title, class: 'input-xlarge select2', style: 'width:300px'
  
  .field
    = f.label :content, "Description"
    = f.text_area :content, rows: 7

  .field
    = f.label :cost, "Idea's cost"
    = f.text_field :cost, class: 'input-xlarge select2', style: 'width:300px'
    
  .field
    = f.label :time, "Idea's time"
    = f.text_field :time, class: 'input-xlarge select2', style: 'width:300px'

  .field
    = f.label :benefits, "Idea's benefits"
    = f.text_field :benefits, class: 'input-xlarge select2', style: 'width:300px'

  .field
    = f.label :users 
    = select_tag "organizing_team", options_from_collection_for_select(@list_users, 'id', 'email',@idea.users.map{ |j| j.id }), :multiple => true

  %br
  .actions
    = f.submit "Submit", class: 'btn btn-primary'


- content_for :scripts do
  :javascript
    $(".select2").select2({
      tags: #{all_tags.map(&:name)}
    });