%h1 Content

= form_for(@idea) do |f|
  = error_messages! :idea

  .field
    = f.text_area :content, rows: 7
  .field 
    = f.label :tag_list, "Tags"
    = f.text_field :tag_list, class: 'input-xlarge select2', style: 'width:300px'
  %br
  .actions
    = f.submit class: 'btn btn-primary'


- content_for :scripts do
  :javascript
    $(".select2").select2({
      tags: #{all_tags.map(&:name)}
    });